doctype html
html
  head
    meta(charset='utf-8')
    meta(referrer="never")
    link(rel='icon', href='/public/img/favicon.ico')
    title= title
    link(rel="stylesheet", href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css")
    <!-- Bootstrap -->
    link(rel="stylesheet", href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.bootcss.com/Swiper/4.4.6/css/swiper.min.css")
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='https://cdn.bootcss.com/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js')
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    script(src='https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js')
    script(src='https://cdn.bootcss.com/Swiper/4.4.6/js/swiper.min.js')

    link(rel="stylesheet", href="public/css/main.css")
  body
    block bcontent
    

